In [47]:
import pandas as pd
import glob
import numpy as np

In [48]:
# Concat all files with scraped data

path = r'/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data' # use your path
all_files = glob.glob(path + "/historical_listing_data*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
    print(filename)
    
historical_stats_df = pd.concat(li, axis=0, ignore_index=True, sort=True)

historical_stats_df.head()

/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_693947901_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_700377146_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680064082_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680069172_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680071910_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680084324_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_706002567_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_691796412_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_688443618_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_701202082_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_688465922_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_693933847_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_701339360_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680073964_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_701341356_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680082346_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_701344590_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_701210678_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_690717354_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_685451744_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_703387331_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680079806_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_702303569_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_700382982_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_704569159_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680077296_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_680085112_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_687898920_071019.csv
/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Historical_Data/historical_listing_data_693930997_071019.csv

     fromDate  itemsSold  listingID  revenue      toDate  visits
0  2019-03-27          0  693947901      0.0  2019-03-28       0
1  2019-03-28          0  693947901      0.0  2019-03-29       1
2  2019-03-29          0  693947901      0.0  2019-03-30       1
3  2019-03-30          0  693947901      0.0  2019-03-31       0
4  2019-03-31          0  693947901      0.0  2019-04-01       0

In [49]:
# Remove columns not needed
historical_stats_df=historical_stats_df[['listingID','visits','itemsSold',
                                            'revenue','fromDate']]

historical_stats_df.head()

   listingID  visits  itemsSold  revenue    fromDate
0  693947901       0          0      0.0  2019-03-27
1  693947901       1          0      0.0  2019-03-28
2  693947901       1          0      0.0  2019-03-29
3  693947901       0          0      0.0  2019-03-30
4  693947901       0          0      0.0  2019-03-31

In [50]:
# Rename columns to match database 
historical_stats_df=historical_stats_df.rename(columns={'itemsSold':'sold','fromDate':'date'})
historical_stats_df.head()

   listingID  visits  sold  revenue        date
0  693947901       0     0      0.0  2019-03-27
1  693947901       1     0      0.0  2019-03-28
2  693947901       1     0      0.0  2019-03-29
3  693947901       0     0      0.0  2019-03-30
4  693947901       0     0      0.0  2019-03-31

In [51]:
#Fix duplicate revenues from scraping
rev_dups=historical_stats_df.loc[historical_stats_df['revenue']>0,:]
rev_dups

      listingID  visits  sold  revenue        date
1088  701341356       1     1    10.50  2019-07-01
1089  701341356       2     1    10.50  2019-07-02
1095  701341356       4     1    10.50  2019-07-08
1096  701341356       2     1    10.50  2019-07-09
1620  702303569       0     1     7.00  2019-06-16
1621  702303569       0     1     7.00  2019-06-17
1963  687898920       4     2    87.00  2019-05-14
1964  687898920       3     2    87.00  2019-05-15
2000  687898920       3     2    99.98  2019-06-20
2001  687898920       3     2    99.98  2019-06-21
2013  687898920       5     2    99.98  2019-07-03
2014  687898920       3     2    99.98  2019-07-04

In [52]:
# Delete every other row
rev_dups=rev_dups.iloc[::-2]
rev_dups

      listingID  visits  sold  revenue        date
2014  687898920       3     2    99.98  2019-07-04
2001  687898920       3     2    99.98  2019-06-21
1964  687898920       3     2    87.00  2019-05-15
1621  702303569       0     1     7.00  2019-06-17
1096  701341356       2     1    10.50  2019-07-09
1089  701341356       2     1    10.50  2019-07-02

In [53]:
# Create database with listings who have no revenue
non_rev=historical_stats_df.loc[historical_stats_df['revenue']==0,:]
non_rev.head()

   listingID  visits  sold  revenue        date
0  693947901       0     0      0.0  2019-03-27
1  693947901       1     0      0.0  2019-03-28
2  693947901       1     0      0.0  2019-03-29
3  693947901       0     0      0.0  2019-03-30
4  693947901       0     0      0.0  2019-03-31

In [54]:
# Concat rev and non rev info

historical_stats_df = pd.concat([rev_dups,non_rev], ignore_index=True, sort=False)
historical_stats_df

      listingID  visits  sold  revenue        date
0     687898920       3     2    99.98  2019-07-04
1     687898920       3     2    99.98  2019-06-21
2     687898920       3     2    87.00  2019-05-15
3     702303569       0     1     7.00  2019-06-17
4     701341356       2     1    10.50  2019-07-09
5     701341356       2     1    10.50  2019-07-02
6     693947901       0     0     0.00  2019-03-27
7     693947901       1     0     0.00  2019-03-28
8     693947901       1     0     0.00  2019-03-29
9     693947901       0     0     0.00  2019-03-30
10    693947901       0     0     0.00  2019-03-31
11    693947901       0     0     0.00  2019-04-01
12    693947901       0     0     0.00  2019-04-02
13    693947901       0     0     0.00  2019-04-03
14    693947901       0     0     0.00  2019-04-04
15    693947901       0     0     0.00  2019-04-05
16    693947901       0     0     0.00  2019-04-06
17    693947901       0     0     0.00  2019-04-07
18    693947901       1     0     0.00  2019-04-08
19    693947901       2     0     0.00  2019-04-09
20    693947901       1     0     0.00  2019-04-10
21    693947901       0     0     0.00  2019-04-11
22    693947901       0     0     0.00  2019-04-12
23    693947901       1     0     0.00  2019-04-13
24    693947901       3     0     0.00  2019-04-14
25    693947901       3     0     0.00  2019-04-15
26    693947901       1     0     0.00  2019-04-16
27    693947901       0     0     0.00  2019-04-17
28    693947901       0     0     0.00  2019-04-18
29    693947901       0     0     0.00  2019-04-19
...         ...     ...   ...      ...         ...
2090  693930997       1     0     0.00  2019-06-10
2091  693930997       2     0     0.00  2019-06-11
2092  693930997       2     0     0.00  2019-06-12
2093  693930997       1     0     0.00  2019-06-13
2094  693930997       2     0     0.00  2019-06-14
2095  693930997       1     0     0.00  2019-06-15
2096  693930997       1     0     0.00  2019-06-16
2097  693930997       2     0     0.00  2019-06-17
2098  693930997       2     0     0.00  2019-06-18
2099  693930997       2     0     0.00  2019-06-19
2100  693930997       1     0     0.00  2019-06-20
2101  693930997       1     0     0.00  2019-06-21
2102  693930997       4     0     0.00  2019-06-22
2103  693930997       5     0     0.00  2019-06-23
2104  693930997       4     0     0.00  2019-06-24
2105  693930997       2     0     0.00  2019-06-25
2106  693930997       2     0     0.00  2019-06-26
2107  693930997       5     0     0.00  2019-06-27
2108  693930997       4     0     0.00  2019-06-28
2109  693930997       6     0     0.00  2019-06-29
2110  693930997       8     0     0.00  2019-06-30
2111  693930997       3     0     0.00  2019-07-01
2112  693930997       3     0     0.00  2019-07-02
2113  693930997       4     0     0.00  2019-07-03
2114  693930997       3     0     0.00  2019-07-04
2115  693930997       2     0     0.00  2019-07-05
2116  693930997       3     0     0.00  2019-07-06
2117  693930997       3     0     0.00  2019-07-07
2118  693930997       1     0     0.00  2019-07-08
2119  693930997       1     0     0.00  2019-07-09

[2120 rows x 5 columns]

In [58]:
historical_stats_df=historical_stats_df.sort_values(by=['date','listingID'],ascending=False)
historical_stats_df.head()

      listingID  visits  sold  revenue        date
618   706002567       1     0      0.0  2019-07-09
1733  704569159       0     0      0.0  2019-07-09
1466  703387331       0     0      0.0  2019-07-09
1643  702303569       1     0      0.0  2019-07-09
1226  701344590       0     0      0.0  2019-07-09

In [59]:
import sqlalchemy
from sqlalchemy import *
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date
import mysql.connector
import config

In [60]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database='etsy_jetch_db')

db_cursor = db_connection.cursor()
engine = create_engine('mysql+mysqlconnector://root:'+config.mysql_password+'@localhost/etsy_jetch_db',echo=False)

In [61]:
historical_stats_df.to_sql(name='Listing_Stats', con=engine, if_exists='append',index=False)

In [73]:
fav_df=pd.read_csv('/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/CollectedData/etsy_favorites_df_071519.csv')
fav_df

     listingID             buyerID  dateLiked
0    687898920            qwng7ydb      71519
1    701339360            iowk3rsg      71519
2    680064082            yk6wr0fi      71419
3    680064082          malibuu888      71219
4    685451744           ering0227      71219
5    701339360   annakatedaniel713      71219
6    680064082        marciaburns4      71219
7    701339360      shannacmcqueen      71219
8    685451744         lizpaquin07      71119
9    687898920              eandie      71119
10   701341356        rebekahann57      71119
11   685451744       meganeschrich      71019
12   685451744            kxxombol      71019
13   680064082            kxxombol      71019
14   680064082         hannahlakis      70819
15   701341356            dick0390      70819
16   701210678            dick0390      70819
17   701344590            dick0390      70719
18   701202082            dick0390      70719
19   701339360            dick0390      70719
20   680064082       SpeciallyMary      70619
21   680064082         dineshamack      70619
22   691796412  PrintableQuotables      70619
23   680064082           mhedish17      70619
24   701344590           abolduc04      70619
25   702303569           cassiek33      70619
26   680064082            7db4anab      70519
27   680064082          tabounds96      70519
28   680064082            cielfzxy      70519
29   701341356           tpeytondo      70519
..         ...                 ...        ...
144  680064082            f5docmxh      42919
145  687898920             lisie84      42819
146  680064082  lizettegonzalez648      42719
147  693930997        brookegander      42319
148  680085112       anandabeatriz      42219
149  680079806           amzedella      42019
150  680073964            ubbes9bq      41919
151  680064082            ubbes9bq      41919
152  680071910            fwuco5xs      41819
153  693930997            eli59vkm      41719
154  693930997   handmadecrusadeco      41619
155  685451744   handmadecrusadeco      41619
156  693930997     carolinewatson0      41619
157  693930997       sarahrenee220      41619
158  693930997            ig30988n      41619
159  693930997         Manda198200      41519
160  693930997      lenalavette123      41419
161  680064082            feefeers      41419
162  693930997           kimanne70      41119
163  680064082           kimanne70      41119
164  680064082            thvy91tk      41119
165  680064082       brittpacheco7      41119
166  693930997            bgruiz9q      41019
167  693930997            qlpxtfqd      41019
168  693930997         rayvenpoole      40819
169  680071910    kellymckinney416      40819
170  693930997    lindseycrabtree3      40719
171  680073964        spokeefe2012      40419
172  693930997         luzestherr7      40319
173  693930997           award3377      40219

[174 rows x 3 columns]

In [74]:
fav_df["dateLiked"] = pd.to_datetime(fav_df["dateLiked"],format='%m%d%y')
fav_df

     listingID             buyerID  dateLiked
0    687898920            qwng7ydb 2019-07-15
1    701339360            iowk3rsg 2019-07-15
2    680064082            yk6wr0fi 2019-07-14
3    680064082          malibuu888 2019-07-12
4    685451744           ering0227 2019-07-12
5    701339360   annakatedaniel713 2019-07-12
6    680064082        marciaburns4 2019-07-12
7    701339360      shannacmcqueen 2019-07-12
8    685451744         lizpaquin07 2019-07-11
9    687898920              eandie 2019-07-11
10   701341356        rebekahann57 2019-07-11
11   685451744       meganeschrich 2019-07-10
12   685451744            kxxombol 2019-07-10
13   680064082            kxxombol 2019-07-10
14   680064082         hannahlakis 2019-07-08
15   701341356            dick0390 2019-07-08
16   701210678            dick0390 2019-07-08
17   701344590            dick0390 2019-07-07
18   701202082            dick0390 2019-07-07
19   701339360            dick0390 2019-07-07
20   680064082       SpeciallyMary 2019-07-06
21   680064082         dineshamack 2019-07-06
22   691796412  PrintableQuotables 2019-07-06
23   680064082           mhedish17 2019-07-06
24   701344590           abolduc04 2019-07-06
25   702303569           cassiek33 2019-07-06
26   680064082            7db4anab 2019-07-05
27   680064082          tabounds96 2019-07-05
28   680064082            cielfzxy 2019-07-05
29   701341356           tpeytondo 2019-07-05
..         ...                 ...        ...
144  680064082            f5docmxh 2019-04-29
145  687898920             lisie84 2019-04-28
146  680064082  lizettegonzalez648 2019-04-27
147  693930997        brookegander 2019-04-23
148  680085112       anandabeatriz 2019-04-22
149  680079806           amzedella 2019-04-20
150  680073964            ubbes9bq 2019-04-19
151  680064082            ubbes9bq 2019-04-19
152  680071910            fwuco5xs 2019-04-18
153  693930997            eli59vkm 2019-04-17
154  693930997   handmadecrusadeco 2019-04-16
155  685451744   handmadecrusadeco 2019-04-16
156  693930997     carolinewatson0 2019-04-16
157  693930997       sarahrenee220 2019-04-16
158  693930997            ig30988n 2019-04-16
159  693930997         Manda198200 2019-04-15
160  693930997      lenalavette123 2019-04-14
161  680064082            feefeers 2019-04-14
162  693930997           kimanne70 2019-04-11
163  680064082           kimanne70 2019-04-11
164  680064082            thvy91tk 2019-04-11
165  680064082       brittpacheco7 2019-04-11
166  693930997            bgruiz9q 2019-04-10
167  693930997            qlpxtfqd 2019-04-10
168  693930997         rayvenpoole 2019-04-08
169  680071910    kellymckinney416 2019-04-08
170  693930997    lindseycrabtree3 2019-04-07
171  680073964        spokeefe2012 2019-04-04
172  693930997         luzestherr7 2019-04-03
173  693930997           award3377 2019-04-02

[174 rows x 3 columns]

In [76]:
fav_df['dateLiked']=fav_df['dateLiked'].apply(lambda x: x.strftime('%m%d%y'))
fav_df

     listingID             buyerID dateLiked
0    687898920            qwng7ydb    071519
1    701339360            iowk3rsg    071519
2    680064082            yk6wr0fi    071419
3    680064082          malibuu888    071219
4    685451744           ering0227    071219
5    701339360   annakatedaniel713    071219
6    680064082        marciaburns4    071219
7    701339360      shannacmcqueen    071219
8    685451744         lizpaquin07    071119
9    687898920              eandie    071119
10   701341356        rebekahann57    071119
11   685451744       meganeschrich    071019
12   685451744            kxxombol    071019
13   680064082            kxxombol    071019
14   680064082         hannahlakis    070819
15   701341356            dick0390    070819
16   701210678            dick0390    070819
17   701344590            dick0390    070719
18   701202082            dick0390    070719
19   701339360            dick0390    070719
20   680064082       SpeciallyMary    070619
21   680064082         dineshamack    070619
22   691796412  PrintableQuotables    070619
23   680064082           mhedish17    070619
24   701344590           abolduc04    070619
25   702303569           cassiek33    070619
26   680064082            7db4anab    070519
27   680064082          tabounds96    070519
28   680064082            cielfzxy    070519
29   701341356           tpeytondo    070519
..         ...                 ...       ...
144  680064082            f5docmxh    042919
145  687898920             lisie84    042819
146  680064082  lizettegonzalez648    042719
147  693930997        brookegander    042319
148  680085112       anandabeatriz    042219
149  680079806           amzedella    042019
150  680073964            ubbes9bq    041919
151  680064082            ubbes9bq    041919
152  680071910            fwuco5xs    041819
153  693930997            eli59vkm    041719
154  693930997   handmadecrusadeco    041619
155  685451744   handmadecrusadeco    041619
156  693930997     carolinewatson0    041619
157  693930997       sarahrenee220    041619
158  693930997            ig30988n    041619
159  693930997         Manda198200    041519
160  693930997      lenalavette123    041419
161  680064082            feefeers    041419
162  693930997           kimanne70    041119
163  680064082           kimanne70    041119
164  680064082            thvy91tk    041119
165  680064082       brittpacheco7    041119
166  693930997            bgruiz9q    041019
167  693930997            qlpxtfqd    041019
168  693930997         rayvenpoole    040819
169  680071910    kellymckinney416    040819
170  693930997    lindseycrabtree3    040719
171  680073964        spokeefe2012    040419
172  693930997         luzestherr7    040319
173  693930997           award3377    040219

[174 rows x 3 columns]

In [77]:
fav_df.to_sql(name='Favorites', con=engine, if_exists='append',index=False)

In [63]:
# Get count of favorites for each listing by date
fav_count_df = fav_df.groupby(['listingID', 'dateLiked']).size().reset_index(name='favorites')
fav_count_df

     listingID  dateLiked  favorites
0    680064082      41119          3
1    680064082      41419          1
2    680064082      41919          1
3    680064082      42719          1
4    680064082      42919          1
5    680064082      50119          1
6    680064082      50719          4
7    680064082      50919          1
8    680064082      51019          1
9    680064082      51119          1
10   680064082      51419          1
11   680064082      51919          2
12   680064082      52219          2
13   680064082      52319          3
14   680064082      52419          1
15   680064082      52719          2
16   680064082      52819          1
17   680064082      52919          2
18   680064082      53019          1
19   680064082      60119          2
20   680064082      60219          1
21   680064082      60419          1
22   680064082      60519          1
23   680064082      60619          1
24   680064082      60719          1
25   680064082      60919          1
26   680064082      62119          1
27   680064082      62519          1
28   680064082      70319          3
29   680064082      70519          3
..         ...        ...        ...
113  693930997      63019          2
114  693933847      52219          1
115  693933847      60119          1
116  693933847      61219          1
117  693933847      62319          1
118  700382982      63019          1
119  700382982      70219          1
120  701202082      70719          1
121  701210678      70819          1
122  701339360      62719          1
123  701339360      62819          1
124  701339360      70719          1
125  701339360      71219          2
126  701339360      71519          1
127  701341356      62719          1
128  701341356      70119          1
129  701341356      70519          1
130  701341356      70819          1
131  701341356      71119          1
132  701344590      62819          1
133  701344590      70619          1
134  701344590      70719          1
135  702303569      60319          1
136  702303569      60919          1
137  702303569      61719          1
138  702303569      62219          1
139  702303569      70619          1
140  706002567      60219          1
141  706002567      61519          1
142  706002567      62619          1

[143 rows x 3 columns]

In [158]:
fav_count_df["date"] = pd.to_datetime(fav_count_df["dateLiked"],format='%m%d%y')
fav_count_df.dtypes

listingID             int64
dateLiked    datetime64[ns]
favorites             int64
date         datetime64[ns]
dtype: object

In [159]:
stats_df=historical_stats_df.merge(fav_count_df,on=['listingID','date'],how='outer')
stats_df.head()

   listingID  visits views  sold  revenue       date dateLiked  favorites
0  693947901     0.0         0.0      0.0 2019-03-27       NaT        NaN
1  693947901     1.0         0.0      0.0 2019-03-28       NaT        NaN
2  693947901     1.0         0.0      0.0 2019-03-29       NaT        NaN
3  693947901     0.0         0.0      0.0 2019-03-30       NaT        NaN
4  693947901     0.0         0.0      0.0 2019-03-31       NaT        NaN

In [163]:
stats_df=stats_df.fillna(0)
stats_df=stats_df.sort_values(by='favorites',ascending=False)
stats_df.head(50)

,listingID,visits,views,sold,revenue,date,dateLiked,favorites
2041,693930997,0.0,,0.0,0.0,2019-04-16,2019-04-16 00:00:00,4.0
173,680064082,10.0,,0.0,0.0,2019-05-07,2019-05-07 00:00:00,4.0
230,680064082,11.0,,0.0,0.0,2019-07-03,2019-07-03 00:00:00,3.0
189,680064082,14.0,,0.0,0.0,2019-05-23,2019-05-23 00:00:00,3.0
233,680064082,17.0,,0.0,0.0,2019-07-06,2019-07-06 00:00:00,3.0
147,680064082,13.0,,0.0,0.0,2019-04-11,2019-04-11 00:00:00,3.0
232,680064082,15.0,,0.0,0.0,2019-07-05,2019-07-05 00:00:00,3.0
2116,693930997,8.0,,0.0,0.0,2019-06-30,2019-06-30 00:00:00,2.0
195,680064082,15.0,,0.0,0.0,2019-05-29,2019-05-29 00:00:00,2.0
188,680064082,17.0,,0.0,0.0,2019-05-22,2019-05-22 00:00:00,2.0
185,680064082,10.0,,0.0,0.0,2019-05-19,2019-05-19 00:00:00,2.0
198,680064082,13.0,,0.0,0.0,2019-06-01,2019-06-01 00:00:00,2.0
1395,685451744,5.0,,0.0,0.0,2019-07-09,2019-07-09 00:00:00,2.0
2035,693930997,8.0,,0.0,0.0,2019-04-10,2019-04-10 00:00:00,2.0
1969,687898920,2.0,,0.0,0.0,2019-05-20,2019-05-20 00:00:00,2.0
193,680064082,13.0,,0.0,0.0,2019-05-27,2019-05-27 00:00:00,2.0
2132,701339360,0.0,0,0.0,0.0,2019-07-11,2019-07-11 00:00:00,2.0
2068,693930997,4.0,,0.0,0.0,2019-05-13,2019-05-13 00:00:00,2.0
385,680071910,5.0,,0.0,0.0,2019-05-07,2019-05-07 00:00:00,2.0
1992,687898920,5.0,,0.0,0.0,2019-06-12,2019-06-12 00:00:00,2.0
1047,680073964,3.0,,0.0,0.0,2019-06-12,2019-06-12 00:00:00,2.0
2126,680064082,0.0,0,0.0,0.0,2019-07-11,2019-07-11 00:00:00,2.0
222,680064082,9.0,,0.0,0.0,2019-06-25,2019-06-25 00:00:00,1.0
199,680064082,17.0,,0.0,0.0,2019-06-02,2019-06-02 00:00:00,1.0
1903,680085112,2.0,,0.0,0.0,2019-05-29,2019-05-29 00:00:00,1.0
196,680064082,16.0,,0.0,0.0,2019-05-30,2019-05-30 00:00:00,1.0
1904,680085112,1.0,,0.0,0.0,2019-05-30,2019-05-30 00:00:00,1.0
236,680064082,8.0,,0.0,0.0,2019-07-09,2019-07-09 00:00:00,1.0
235,680064082,13.0,,0.0,0.0,2019-07-08,2019-07-08 00:00:00,1.0
202,680064082,15.0,,0.0,0.0,2019-06-05,2019-06-05 00:00:00,1.0
201,680064082,26.0,,0.0,0.0,2019-06-04,2019-06-04 00:00:00,1.0
218,680064082,1.0,,0.0,0.0,2019-06-21,2019-06-21 00:00:00,1.0
203,680064082,10.0,,0.0,0.0,2019-06-06,2019-06-06 00:00:00,1.0
204,680064082,16.0,,0.0,0.0,2019-06-07,2019-06-07 00:00:00,1.0
206,680064082,16.0,,0.0,0.0,2019-06-09,2019-06-09 00:00:00,1.0
1951,687898920,5.0,,0.0,0.0,2019-05-02,2019-05-02 00:00:00,1.0
194,680064082,9.0,,0.0,0.0,2019-05-28,2019-05-28 00:00:00,1.0
1947,687898920,6.0,,0.0,0.0,2019-04-28,2019-04-28 00:00:00,1.0
2134,701341356,0.0,0,0.0,0.0,2019-07-10,2019-07-10 00:00:00,1.0
180,680064082,6.0,,0.0,0.0,2019-05-14,2019-05-14 00:00:00,1.0
1958,687898920,3.0,,0.0,0.0,2019-05-09,2019-05-09 00:00:00,1.0
155,680064082,12.0,,0.0,0.0,2019-04-19,2019-04-19 00:00:00,1.0
2006,687898920,7.0,,0.0,0.0,2019-06-26,2019-06-26 00:00:00,1.0
1999,687898920,3.0,,0.0,0.0,2019-06-19,2019-06-19 00:00:00,1.0
1998,687898920,7.0,,0.0,0.0,2019-06-18,2019-06-18 00:00:00,1.0
1995,687898920,2.0,,0.0,0.0,2019-06-15,2019-06-15 00:00:00,1.0
1994,687898920,6.0,,0.0,0.0,2019-06-14,2019-06-14 00:00:00,1.0
1993,687898920,7.0,,0.0,0.0,2019-06-13,2019-06-13 00:00:00,1.0
1991,687898920,6.0,,0.0,0.0,2019-06-11,2019-06-11 00:00:00,1.0
1988,687898920,8.0,,0.0,0.0,2019-06-08,2019-06-08 00:00:00,1.0

In [164]:
current_listing_stats_df['diff'] = current_listing_stats_df.groupby(['listingID'])['views'].diff().fillna(0)
current_listing_stats_df.head()

    listingID  visits  views  favorites  sold  revenue        date  diff
29  701341356      14     13          6     2     21.0  2019-07-10   0.0
30  687898920     174    142         18     6    286.0  2019-07-10   0.0
31  701344590       8      7          3     0      0.0  2019-07-10   0.0
32  701339360      15     12          3     0      0.0  2019-07-10   0.0
33  701210678       3      3          1     0      0.0  2019-07-10   0.0

In [165]:
scraped_stats=pd.read_csv('/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/CollectedData/listing_stats_df_071419.csv')

   listingID             tag        date
0  701341356        birthday  2019-07-14
1  687898920  cocktail table  2019-07-14
2  701344590        birthday  2019-07-14
3  701339360        birthday  2019-07-14
4  701210678        birthday  2019-07-14