In [1]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db

import pandas as pd

import dateutil.parser as dparser

import pygsheets

from datetime import datetime, date, time, timedelta

import requests

import config

In [2]:

# Fetch the service account key JSON file contents
cred = credentials.Certificate(config.firebase_file_path)
# Initialize the app with a service account, granting admin privileges
firebase_admin.initialize_app(cred, {
    'databaseURL': config.databaseURL
})

In [3]:
# Call firebase database    
fb_file = "listing_stats.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    listing_stats = pd.DataFrame.from_dict(data, orient='columns')

# else:
#     data_collection_log= open(f"/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/DataCollection/logs/{yesterday_full_date}_data_collection_log.txt","a")
#     data_collection_log.write(f"\n{datetime.now()} ***ERROR: Access Firebase Reviews")
#     print("ERROR: Access Firebase Reviews")
listing_stats.sample(10)

      listingID record_date revenue sold visits
590   691796412     6/19/19       0    0      0
1312  687898920     5/18/19       0    0      4
1666  688443618     4/30/19       0    0      1
2077  680085112     3/29/19       0    0      1
3000  721879701  2019-08-18       0    0      0
2096  680069172     3/28/19       0    0      0
3004  701202082  2019-08-18       0    0      2
941   680084324      6/4/19       0    0      0
535   688465922     6/21/19       0    0      2
779   693930997     6/11/19       0    0      2

In [4]:
for index, item in listing_stats.iterrows():
    date_formatted=dparser.parse(item.record_date,fuzzy=True).date()
    listing_stats.loc[index,'date']=date_formatted

listing_stats.sample(10)

      listingID record_date revenue sold visits        date
1996  680079806      4/5/19       0    0      0  2019-04-05
2149  706002567     7/12/19       0    0      0  2019-07-12
221   680085112      7/2/19       0    0      0  2019-07-02
51    680079806      7/8/19       0    0      5  2019-07-08
1871  693933847     4/15/19       0    0      1  2019-04-15
2431  700382982     7/21/19       0    0      0  2019-07-21
861   706002567      6/7/19       0    0      2  2019-06-07
1390  704569159     5/14/19       0    0      0  2019-05-14
75    687898920      7/7/19       0    0      7  2019-07-07
1456  693947901     5/11/19       0    0      0  2019-05-11

In [5]:
listing_stats=listing_stats.astype({'listingID': 'int','revenue': 'float','sold': 'int','visits': 'int'})
listing_stats=listing_stats[['listingID','date','revenue','sold','visits']]
listing_stats.sample(10)

      listingID        date  revenue  sold  visits
691   690717354  2019-06-15      0.0     0       0
1317  680079806  2019-05-18      0.0     0       0
2279  690717354  2019-07-16      0.0     0       0
223   680082346  2019-07-02      0.0     0       0
2442  680064082  2019-07-21      0.0     0       1
262   701344590  2019-06-30      0.0     0       1
1806  693933847  2019-04-20      0.0     0       0
397   680079806  2019-06-26      0.0     0       3
1803  680069172  2019-04-21      0.0     0       0
2302  701210678  2019-07-17      0.0     0       0

In [6]:
listingStats_date=listing_stats.groupby(['date']).sum()
listingStats_date=listingStats_date.reset_index()
listingStats_date=listingStats_date[['date','revenue','sold','visits']]
listingStats_date.sample(10)

           date  revenue  sold  visits
67   2019-06-01      0.0     0      30
106  2019-07-11      0.0     0      32
44   2019-05-09      0.0     0      35
32   2019-04-27      0.0     0       4
95   2019-06-29      0.0     0      35
102  2019-07-06      0.0     0      51
72   2019-06-06      0.0     0      23
135  2019-08-17      0.0     0      16
116  2019-07-21      0.0     0      13
30   2019-04-25      0.0     0      12

In [7]:
# Call firebase database    
fb_file = "favorites.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    favorites = pd.DataFrame.from_dict(data, orient='columns')
    
# else:
#     data_collection_log= open(f"/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/DataCollection/logs/{yesterday_full_date}_data_collection_log.txt","a")
#     data_collection_log.write(f"\n{datetime.now()} ***ERROR: Access Firebase Reviews")
#     print("ERROR: Access Firebase Reviews")
favorites.sample(10)

             buyerID   dateLiked  listingID
23          yk6wr0fi     7/13/19  680064082
11       kelliyates7     7/20/19  680064082
287      AllieRose35  2019-08-06  680064082
187         bgruiz9q     4/10/19  693930997
137         nkantrim     5/13/19  693930997
435    tinareyes1106  2019-07-24  687898920
249         mcdanimk  2019-07-27  701341356
424         fsunacr9  2019-07-28  687898920
514          sparrmc  2019-08-15  680064082
457  kinsleymitchell  2019-08-09  701339360

In [8]:
for index, item in favorites.iterrows():
    date_formatted=dparser.parse(item.dateLiked,fuzzy=True).date()
    favorites.loc[index,'date']=date_formatted

favorites.sample(10)

          buyerID   dateLiked  listingID        date
495        ldekie  2019-08-13  700382982  2019-08-13
125  shannytasaki     5/22/19  680064082  2019-05-22
319     sameera27  2019-08-07  680064082  2019-08-07
371  jenniraheta1  2019-07-31  701341356  2019-07-31
120     nciuffo14     5/27/19  680064082  2019-05-27
340    glyndasue5  2019-07-28  701341356  2019-07-28
211  jenniraheta1  2019-07-31  701341356  2019-07-31
57      ethykelly      7/2/19  687898920  2019-07-02
201  ljohnson0524  2019-08-05  701339360  2019-08-05
434     amyswader  2019-07-27  701339360  2019-07-27

In [9]:
favorites=favorites.astype({'listingID': 'int'})
favorites=favorites[['date','listingID']]
favorites.sample(10)

           date  listingID
198  2019-08-06  680064082
145  2019-05-09  680071910
364  2019-08-04  706002567
115  2019-05-29  680085112
352  2019-08-07  701341356
141  2019-05-11  680064082
458  2019-08-09  680064082
110  2019-05-30  680064082
370  2019-08-01  680064082
35   2019-07-08  680064082

In [10]:
favorites_date=favorites.groupby(['date']).count()
favorites_date=favorites_date.rename(columns=({'listingID':'total_favorites'}))
favorites_date=favorites_date.reset_index()
favorites_date.head()

         date  total_favorites
0  2019-04-02                1
1  2019-04-03                1
2  2019-04-04                1
3  2019-04-07                1
4  2019-04-08                2

In [11]:
comp_listing_stats_date=pd.merge(listingStats_date,favorites_date,on='date',how='inner')
comp_listing_stats_date.sample(10)

          date  revenue  sold  visits  total_favorites
8   2019-04-15      0.0     0      50                1
67  2019-06-30      0.0     0      37                4
97  2019-08-13      0.0     0      27               10
9   2019-04-16      0.0     0      36                5
3   2019-04-07      0.0     0      21                1
55  2019-06-15      0.0     0      28                3
15  2019-04-23      0.0     0       6                1
98  2019-08-14      0.0     0      24               11
27  2019-05-10      0.0     0      38                2
64  2019-06-26      0.0     0      27                2

In [12]:
gc = pygsheets.authorize(service_file=google_api_file_path)
sh = gc.open('J Etch Creations Dashboard')
wks = sh.worksheet('title','Listing_Stats_Date')
wks.clear()
wks.set_dataframe(comp_listing_stats_date,(1,1))

In [13]:
listingStats_ID=listing_stats.groupby(['listingID']).sum()
listingStats_ID=listingStats_ID.reset_index()
listingStats_ID

    listingID  revenue  sold  visits
0   680064082   519.00    20    1140
1   680069172     0.00     0      56
2   680071910     0.00     0     180
3   680073964     0.00     0     134
4   680077296     0.00     0      40
5   680079806     0.00     0     203
6   680082346     0.00     0      35
7   680084324     0.00     0      32
8   680085112     0.00     0     113
9   685451744   149.00     3     136
10  685744834     0.00     0       2
11  687898920   405.96     8     499
12  688443618     0.00     0      44
13  688465922     0.00     0      87
14  690717354     0.00     0      10
15  691796412     0.00     0      26
16  693930997     0.00     0     417
17  693933847     0.00     0      52
18  693947901     0.00     0      25
19  700377146     0.00     0      19
20  700382982     0.00     0      43
21  701202082     0.00     0      57
22  701210678     0.00     0      15
23  701339360    27.00     1      99
24  701341356    58.50     5      83
25  701344590     0.00     0      35
26  702303569     7.00     1      41
27  703387331     0.00     0      25
28  704569159     0.00     0      24
29  706002567     0.00     0      42
30  707973152     0.00     0      13
31  712150418     0.00     0       1
32  712179258     0.00     0       1
33  721874971     0.00     0       3
34  721879701     0.00     0       2
35  721881161     0.00     0       2
36  722901675     0.00     0       3

In [14]:
favorites_ID=favorites.groupby(['listingID']).count()
favorites_ID=favorites_ID.rename(columns=({'date':'total_favorites'}))
favorites_ID=favorites_ID.reset_index()
favorites_ID.head()

   listingID  total_favorites
0  680064082              129
1  680069172                2
2  680071910               15
3  680073964                6
4  680077296                3

In [15]:
comp_listing_stats_ID=pd.merge(listingStats_ID,favorites_ID,on='listingID',how='inner')
comp_listing_stats_ID.head()

   listingID  revenue  sold  visits  total_favorites
0  680064082    519.0    20    1140              129
1  680069172      0.0     0      56                2
2  680071910      0.0     0     180               15
3  680073964      0.0     0     134                6
4  680077296      0.0     0      40                3

In [16]:
# Call firebase database    
fb_file = "listing_ids.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    listing_titles = pd.DataFrame.from_dict(data, orient='columns')
 
listing_titles=listing_titles.astype({'listingID': 'int'})

listing_titles.sample(10)

    listingID                              title
5   680079806                              Pearl
12  688465922                              Marie
34  712179258          Bridal Shower Cake Topper
4   680077296                              Mabel
15  693930997                          Gloria GM
9   685451744                    Catalina Bundle
30  721881161  Wood Table Number - Simple Design
13  690717354                 Gloria PM-ORB ONLY
16  693933847                             Hattie
36  721874971                          Gloria MM

In [17]:
comp_listing_stats_ID=pd.merge(comp_listing_stats_ID,listing_titles,on='listingID',how='inner')
comp_listing_stats_ID

,listingID,revenue,sold,visits,total_favorites,title
0,680064082,519.00,20,1140,129,Florence
1,680069172,0.00,0,56,2,Louise
2,680071910,0.00,0,180,15,Ruby
3,680073964,0.00,0,134,6,Helen
4,680077296,0.00,0,40,3,Mabel
5,680079806,0.00,0,203,17,Pearl
6,680082346,0.00,0,35,1,Thelma
7,680085112,0.00,0,113,3,Betty
8,685451744,149.00,3,136,10,Catalina Bundle
9,685744834,0.00,0,2,10,Cursive Letters LG
10,687898920,405.96,8,499,63,Catalina PM-Set of 3
11,688443618,0.00,0,44,2,Chair Wreaths-Greenery
12,688465922,0.00,0,87,1,Marie
13,691796412,0.00,0,26,10,Traveling from Miss to Mrs Signs
14,693930997,0.00,0,417,35,Gloria GM
15,693933847,0.00,0,52,4,Hattie
16,700377146,0.00,0,19,1,Catalina PM - LANTERNS ONLY
17,700382982,0.00,0,43,10,Gloria GM-ORB ONLY
18,701202082,0.00,0,57,1,Birthday Package-Dr. Seuss
19,701210678,0.00,0,15,1,Party Hat-Dr. Seuss
20,701339360,27.00,1,99,82,Banner-Dr.Seuss
21,701341356,58.50,5,83,78,Cake Topper-Dr. Seuss
22,701344590,0.00,0,35,13,Fabric Garland-Dr. Seuss
23,702303569,7.00,1,41,5,Wood Wedding Signs
24,706002567,0.00,0,42,19,Chair Wreath-Hoop
25,707973152,0.00,0,13,6,Gloria MM - Orb Only

In [18]:
favorites_sum=comp_listing_stats_ID['total_favorites'].sum(axis = 0, skipna = True) 

for index, item in comp_listing_stats_ID.iterrows():
    d=(item.total_favorites/favorites_sum)*100
    comp_listing_stats_ID.loc[index,'% of favorites']= d

comp_listing_stats_ID

,listingID,revenue,sold,visits,total_favorites,title,% of favorites
0,680064082,519.00,20,1140,129,Florence,24.478178
1,680069172,0.00,0,56,2,Louise,0.379507
2,680071910,0.00,0,180,15,Ruby,2.846300
3,680073964,0.00,0,134,6,Helen,1.138520
4,680077296,0.00,0,40,3,Mabel,0.569260
5,680079806,0.00,0,203,17,Pearl,3.225806
6,680082346,0.00,0,35,1,Thelma,0.189753
7,680085112,0.00,0,113,3,Betty,0.569260
8,685451744,149.00,3,136,10,Catalina Bundle,1.897533
9,685744834,0.00,0,2,10,Cursive Letters LG,1.897533
10,687898920,405.96,8,499,63,Catalina PM-Set of 3,11.954459
11,688443618,0.00,0,44,2,Chair Wreaths-Greenery,0.379507
12,688465922,0.00,0,87,1,Marie,0.189753
13,691796412,0.00,0,26,10,Traveling from Miss to Mrs Signs,1.897533
14,693930997,0.00,0,417,35,Gloria GM,6.641366
15,693933847,0.00,0,52,4,Hattie,0.759013
16,700377146,0.00,0,19,1,Catalina PM - LANTERNS ONLY,0.189753
17,700382982,0.00,0,43,10,Gloria GM-ORB ONLY,1.897533
18,701202082,0.00,0,57,1,Birthday Package-Dr. Seuss,0.189753
19,701210678,0.00,0,15,1,Party Hat-Dr. Seuss,0.189753
20,701339360,27.00,1,99,82,Banner-Dr.Seuss,15.559772
21,701341356,58.50,5,83,78,Cake Topper-Dr. Seuss,14.800759
22,701344590,0.00,0,35,13,Fabric Garland-Dr. Seuss,2.466793
23,702303569,7.00,1,41,5,Wood Wedding Signs,0.948767
24,706002567,0.00,0,42,19,Chair Wreath-Hoop,3.605313
25,707973152,0.00,0,13,6,Gloria MM - Orb Only,1.138520

In [19]:
revenue_sum=comp_listing_stats_ID['revenue'].sum(axis = 0, skipna = True) 

for index, item in comp_listing_stats_ID.iterrows():
    d=(item.revenue/revenue_sum)*100
    comp_listing_stats_ID.loc[index,'% of revenue']= d

comp_listing_stats_ID

,listingID,revenue,sold,visits,total_favorites,title,% of favorites,% of revenue
0,680064082,519.00,20,1140,129,Florence,24.478178,44.493596
1,680069172,0.00,0,56,2,Louise,0.379507,0.000000
2,680071910,0.00,0,180,15,Ruby,2.846300,0.000000
3,680073964,0.00,0,134,6,Helen,1.138520,0.000000
4,680077296,0.00,0,40,3,Mabel,0.569260,0.000000
5,680079806,0.00,0,203,17,Pearl,3.225806,0.000000
6,680082346,0.00,0,35,1,Thelma,0.189753,0.000000
7,680085112,0.00,0,113,3,Betty,0.569260,0.000000
8,685451744,149.00,3,136,10,Catalina Bundle,1.897533,12.773691
9,685744834,0.00,0,2,10,Cursive Letters LG,1.897533,0.000000
10,687898920,405.96,8,499,63,Catalina PM-Set of 3,11.954459,34.802736
11,688443618,0.00,0,44,2,Chair Wreaths-Greenery,0.379507,0.000000
12,688465922,0.00,0,87,1,Marie,0.189753,0.000000
13,691796412,0.00,0,26,10,Traveling from Miss to Mrs Signs,1.897533,0.000000
14,693930997,0.00,0,417,35,Gloria GM,6.641366,0.000000
15,693933847,0.00,0,52,4,Hattie,0.759013,0.000000
16,700377146,0.00,0,19,1,Catalina PM - LANTERNS ONLY,0.189753,0.000000
17,700382982,0.00,0,43,10,Gloria GM-ORB ONLY,1.897533,0.000000
18,701202082,0.00,0,57,1,Birthday Package-Dr. Seuss,0.189753,0.000000
19,701210678,0.00,0,15,1,Party Hat-Dr. Seuss,0.189753,0.000000
20,701339360,27.00,1,99,82,Banner-Dr.Seuss,15.559772,2.314696
21,701341356,58.50,5,83,78,Cake Topper-Dr. Seuss,14.800759,5.015174
22,701344590,0.00,0,35,13,Fabric Garland-Dr. Seuss,2.466793,0.000000
23,702303569,7.00,1,41,5,Wood Wedding Signs,0.948767,0.600106
24,706002567,0.00,0,42,19,Chair Wreath-Hoop,3.605313,0.000000
25,707973152,0.00,0,13,6,Gloria MM - Orb Only,1.138520,0.000000

In [20]:
sold_sum=comp_listing_stats_ID['sold'].sum(axis = 0, skipna = True) 

for index, item in comp_listing_stats_ID.iterrows():
    d=(item.sold/sold_sum)*100
    comp_listing_stats_ID.loc[index,'% of sales']= d

comp_listing_stats_ID.head()

,listingID,revenue,sold,visits,total_favorites,title,% of favorites,% of revenue,% of sales
0,680064082,519.0,20,1140,129,Florence,24.478178,44.493596,52.631579
1,680069172,0.0,0,56,2,Louise,0.379507,0.000000,0.000000
2,680071910,0.0,0,180,15,Ruby,2.846300,0.000000,0.000000
3,680073964,0.0,0,134,6,Helen,1.138520,0.000000,0.000000
4,680077296,0.0,0,40,3,Mabel,0.569260,0.000000,0.000000

In [21]:
visits_sum=comp_listing_stats_ID['visits'].sum(axis = 0, skipna = True) 

for index, item in comp_listing_stats_ID.iterrows():
    d=(item.visits/visits_sum)*100
    comp_listing_stats_ID.loc[index,'% of visits']= d

comp_listing_stats_ID.head()

,listingID,revenue,sold,visits,total_favorites,title,% of favorites,% of revenue,% of sales,% of visits
0,680064082,519.0,20,1140,129,Florence,24.478178,44.493596,52.631579,31.570202
1,680069172,0.0,0,56,2,Louise,0.379507,0.000000,0.000000,1.550817
2,680071910,0.0,0,180,15,Ruby,2.846300,0.000000,0.000000,4.984769
3,680073964,0.0,0,134,6,Helen,1.138520,0.000000,0.000000,3.710883
4,680077296,0.0,0,40,3,Mabel,0.569260,0.000000,0.000000,1.107726

In [22]:
# Call firebase database    
fb_file = "listing_creation_dates.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    listing_creation_dates = pd.DataFrame.from_dict(data, orient='columns')

listing_creation_dates=listing_creation_dates.rename(columns=({'ListingID':'listingID'}))
listing_creation_dates=listing_creation_dates.astype({'listingID': 'int'})
listing_creation_dates=listing_creation_dates.drop_duplicates()

listing_creation_dates.sample(10)

    listingID OriginallyCreated
11  703387331        2019-05-02
0   680077296        2019-03-26
1   680079806        2019-03-26
36  707973152        2019-07-16
30  722901675        2019-07-20
16  685451744        2019-04-16
5   688443618        2019-04-28
34  712179258        2019-08-02
10  702303569        2019-04-28
7   693933847        2019-03-26

In [23]:
comp_listing_stats_ID=pd.merge(comp_listing_stats_ID,listing_creation_dates,on='listingID',how='inner')

In [24]:
now=datetime.now()
comp_listing_stats_ID['OriginallyCreated'] =  pd.to_datetime(comp_listing_stats_ID['OriginallyCreated'], format='%Y-%m-%d')

In [25]:
for index, item in comp_listing_stats_ID.iterrows():
    age=(now-item.OriginallyCreated).total_seconds()
    d = age//86400
    comp_listing_stats_ID.loc[index,'age']= d

In [26]:
gc = pygsheets.authorize(service_file=google_api_file_path)
sh = gc.open('J Etch Creations Dashboard')
wks = sh.worksheet('title','Listing_Stats_ID_Hist')
wks.clear()
wks.set_dataframe(comp_listing_stats_ID,(1,1))

In [27]:
# Call firebase database    
fb_file = "active_listings.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    active_listings = pd.DataFrame.from_dict(data, orient='columns')
 
active_listings=active_listings.astype({'listingID': 'int'})

active_listings.sample(10)

    listingID
4   680079806
10  701339360
15  701344590
0   687898920
5   712179258
8   701210678
17  702303569
9   680064082
18  685744834
11  721881161

In [28]:
comp_act_listing_stats_ID=pd.merge(comp_listing_stats_ID,active_listings,on='listingID',how='inner')
comp_act_listing_stats_ID

,listingID,revenue,sold,visits,total_favorites,title,% of favorites,% of revenue,% of sales,% of visits,OriginallyCreated,age
0,680064082,519.00,20,1140,129,Florence,24.478178,44.493596,52.631579,31.570202,2019-03-26,148.0
1,680071910,0.00,0,180,15,Ruby,2.846300,0.000000,0.000000,4.984769,2019-03-26,148.0
2,680079806,0.00,0,203,17,Pearl,3.225806,0.000000,0.000000,5.621711,2019-03-26,148.0
3,685451744,149.00,3,136,10,Catalina Bundle,1.897533,12.773691,7.894737,3.766270,2019-04-16,127.0
4,685744834,0.00,0,2,10,Cursive Letters LG,1.897533,0.000000,0.000000,0.055386,2019-04-17,126.0
5,687898920,405.96,8,499,63,Catalina PM-Set of 3,11.954459,34.802736,21.052632,13.818887,2019-04-26,117.0
6,688443618,0.00,0,44,2,Chair Wreaths-Greenery,0.379507,0.000000,0.000000,1.218499,2019-04-28,115.0
7,688465922,0.00,0,87,1,Marie,0.189753,0.000000,0.000000,2.409305,2019-04-28,115.0
8,691796412,0.00,0,26,10,Traveling from Miss to Mrs Signs,1.897533,0.000000,0.000000,0.720022,2019-05-11,102.0
9,693930997,0.00,0,417,35,Gloria GM,6.641366,0.000000,0.000000,11.548048,2019-03-26,148.0
10,700377146,0.00,0,19,1,Catalina PM - LANTERNS ONLY,0.189753,0.000000,0.000000,0.526170,2019-06-14,68.0
11,700382982,0.00,0,43,10,Gloria GM-ORB ONLY,1.897533,0.000000,0.000000,1.190806,2019-06-14,68.0
12,701202082,0.00,0,57,1,Birthday Package-Dr. Seuss,0.189753,0.000000,0.000000,1.578510,2019-06-18,64.0
13,701210678,0.00,0,15,1,Party Hat-Dr. Seuss,0.189753,0.000000,0.000000,0.415397,2019-06-18,64.0
14,701339360,27.00,1,99,82,Banner-Dr.Seuss,15.559772,2.314696,2.631579,2.741623,2019-06-18,64.0
15,701341356,58.50,5,83,78,Cake Topper-Dr. Seuss,14.800759,5.015174,13.157895,2.298532,2019-06-18,64.0
16,701344590,0.00,0,35,13,Fabric Garland-Dr. Seuss,2.466793,0.000000,0.000000,0.969261,2019-06-18,64.0
17,702303569,7.00,1,41,5,Wood Wedding Signs,0.948767,0.600106,2.631579,1.135420,2019-04-28,115.0
18,707973152,0.00,0,13,6,Gloria MM - Orb Only,1.138520,0.000000,0.000000,0.360011,2019-07-16,36.0

In [29]:
comp_act_listing_stats_ID=comp_act_listing_stats_ID.sort_values(by='title', ascending=True)
comp_act_listing_stats_ID=comp_act_listing_stats_ID.reset_index()

In [30]:
gc = pygsheets.authorize(service_file=google_api_file_path)
sh = gc.open('J Etch Creations Dashboard')
wks = sh.worksheet('title','Listing_Stats_ID_Active')
wks.clear()
wks.set_dataframe(comp_act_listing_stats_ID,(1,1))

In [31]:
# Call firebase database    
fb_file = "orders.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    orders = pd.DataFrame.from_dict(data, orient='columns')

orders=orders.astype({'orderID': 'int'})
orders

,buyerID,orderDate,orderID,orderTime,orderURL,record_date,shipByDate
0,zvq52mlo,2019-04-19,1441612324,12:04,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,
1,sshelburne12,2019-05-15,1461258703,6:36,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,
2,marissaspacey,2019-06-17,1465581068,10:00,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,
3,lmcq741,2019-06-21,1467289834,18:01,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,
4,admoorhead,2019-07-02,1471406642,22:36,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,
5,cjoy123,2019-07-04,1471997258,16:03,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-25
6,gauklerin09,2019-07-23,1479218984,21:31,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-30
7,dick0390,2019-07-09,1482734683,10:52,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-16
8,jessicaholder4,2019-07-20,1487089393,16:19,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,
9,,2019-07-26,1480128610,11:33,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-01
10,Fudge69,2019-07-27,1480472568,10:57,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-16
11,brittanyb0710,2019-08-07,1484941268,13:42,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-14
12,HeatherW290,2019-08-05,1493211993,11:03,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-26
13,cjoy123,2019-08-10,1486172004,14:33,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-30
14,ivesterh89,2019-08-01,1482480540,nan,nan,NaN,nan
15,laaia22,2019-07-29,1481079872,nan,nan,NaN,nan
16,glyndasue5,2019-07-28,1481051598,nan,nan,NaN,nan
17,Brasun92,2019-08-18,1489256300,02:03,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-19
18,Brasun92,2019-08-18,1498480151,02:00,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-19

In [32]:
# Call firebase database    
fb_file = "order_shipped.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    order_shipped = pd.DataFrame.from_dict(data, orient='columns')

order_shipped=order_shipped.astype({'orderID': 'int'})
order_shipped

   dateShipped     orderID
0     08/05/19  1482480540
1     07/30/19  1481079872
2     07/30/19  1481051598
3     07/27/19  1480128610
4     07/29/19  1479218984
5     07/21/19  1487089393
6     07/12/19  1482734683
7     07/12/19  1471997258
8     07/05/19  1471406642
9     07/05/19  1467289834
10    06/20/19  1465581068
11    05/28/19  1461258703
12    04/28/19  1441612324
13    08/12/19  1484941268
14    08/16/19  1480472568
15    08/19/19  1489256300
16    08/19/19  1498480151
17    08/19/19  1486172004
18    08/19/19  1493211993

In [33]:
order_info=pd.merge(orders,order_shipped,on='orderID',how='outer')

In [34]:
order_info

,buyerID,orderDate,orderID,orderTime,orderURL,record_date,shipByDate,dateShipped
0,zvq52mlo,2019-04-19,1441612324,12:04,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,04/28/19
1,sshelburne12,2019-05-15,1461258703,6:36,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,05/28/19
2,marissaspacey,2019-06-17,1465581068,10:00,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,06/20/19
3,lmcq741,2019-06-21,1467289834,18:01,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,07/05/19
4,admoorhead,2019-07-02,1471406642,22:36,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,07/05/19
5,cjoy123,2019-07-04,1471997258,16:03,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-25,07/12/19
6,gauklerin09,2019-07-23,1479218984,21:31,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-30,07/29/19
7,dick0390,2019-07-09,1482734683,10:52,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-16,07/12/19
8,jessicaholder4,2019-07-20,1487089393,16:19,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,07/21/19
9,,2019-07-26,1480128610,11:33,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-01,07/27/19
10,Fudge69,2019-07-27,1480472568,10:57,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-16,08/16/19
11,brittanyb0710,2019-08-07,1484941268,13:42,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-14,08/12/19
12,HeatherW290,2019-08-05,1493211993,11:03,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-26,08/19/19
13,cjoy123,2019-08-10,1486172004,14:33,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-30,08/19/19
14,ivesterh89,2019-08-01,1482480540,nan,nan,NaN,nan,08/05/19
15,laaia22,2019-07-29,1481079872,nan,nan,NaN,nan,07/30/19
16,glyndasue5,2019-07-28,1481051598,nan,nan,NaN,nan,07/30/19
17,Brasun92,2019-08-18,1489256300,02:03,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-19,08/19/19
18,Brasun92,2019-08-18,1498480151,02:00,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-19,08/19/19

In [35]:
# Call firebase database    
fb_file = "order_pay.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    order_pay = pd.DataFrame.from_dict(data, orient='columns')

order_pay=order_pay.astype({'orderID': 'int'})
order_pay

,couponCode,discountAmount,fees,giftCard,orderID,orderNet,orderTotal,orderType,orderValue,paymentType,salesTax,shipping,shippingDiscount
0,,0,0.75,No,1482734683,14.78,16.68,online,10.5,online_cc,0,5.03,0
1,,0,5.2,No,1471997258,159.76,164.96,online,99.98,online_cc,0,64.98,0
2,,0,0.77,No,1471406642,16.69,17.46,online,10.5,online_cc,1.33,5.63,0
3,,0,5.22,No,1467289834,160.34,165.56,online,99.98,online_cc,0,65.58,0
4,,0,0.65,No,1465581068,11.71,13.43,online,7,online_cc,0,5.36,0
5,,0,4.04,No,1461258703,122.32,126.36,online,87,online_cc,0,39.36,0
6,,0,3.52,No,1441612324,105.45,108.97,online,81.99,online_cc,0,26.98,0
7,,0,0.28,No,1487089393,0.72,1,online,1,online_cc,0,0,0
8,,0,1.38,No,1479218984,36.43,37.81,online,27,online_cc,0,10.81,0
9,,0,2.43,No,1480128610,70.1,72.53,online,59,online_cc,5.53,8,0
10,,0,20.94,No,1480472568,668.86,689.8,online,519.8,online_cc,0,170,0
11,nan,0.0,0.66,No,1484941268,12.87,13.53,online,12.5,online_cc,1.03,0.0,0.0
12,nan,0.0,7.14,No,1493211993,222.45,229.59,online,149.97,online_cc,0.0,79.62,0.0
13,nan,0.0,1.54,No,1482480540,38.23,42.95,online,33.0,online_cc,0.0,6.77,0.0
14,nan,0.0,0.63,No,1481079872,11.87,12.5,online,12.5,online_cc,0.0,0.0,0.0
15,nan,0.0,0.63,No,1481051598,11.87,12.5,online,12.5,online_cc,0.0,0.0,0.0
16,nan,0.0,5.82,No,1486172004,179.74,185.56,online,119.98,online_cc,0.0,65.58,0.0
17,nan,0.0,1.35,No,1489256300,35.35,36.7,online,25.0,online_cc,0.0,11.7,0.0
18,nan,0.0,1.35,No,1498480151,35.35,36.7,online,25.0,online_cc,0.0,11.7,0.0

In [36]:
order_info=pd.merge(order_info,order_pay,on='orderID',how='outer')
order_info

,buyerID,orderDate,orderID,orderTime,orderURL,record_date,shipByDate,dateShipped,couponCode,discountAmount,fees,giftCard,orderNet,orderTotal,orderType,orderValue,paymentType,salesTax,shipping,shippingDiscount
0,zvq52mlo,2019-04-19,1441612324,12:04,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,04/28/19,,0,3.52,No,105.45,108.97,online,81.99,online_cc,0,26.98,0
1,sshelburne12,2019-05-15,1461258703,6:36,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,05/28/19,,0,4.04,No,122.32,126.36,online,87,online_cc,0,39.36,0
2,marissaspacey,2019-06-17,1465581068,10:00,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,06/20/19,,0,0.65,No,11.71,13.43,online,7,online_cc,0,5.36,0
3,lmcq741,2019-06-21,1467289834,18:01,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,07/05/19,,0,5.22,No,160.34,165.56,online,99.98,online_cc,0,65.58,0
4,admoorhead,2019-07-02,1471406642,22:36,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,07/05/19,,0,0.77,No,16.69,17.46,online,10.5,online_cc,1.33,5.63,0
5,cjoy123,2019-07-04,1471997258,16:03,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-25,07/12/19,,0,5.2,No,159.76,164.96,online,99.98,online_cc,0,64.98,0
6,gauklerin09,2019-07-23,1479218984,21:31,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-30,07/29/19,,0,1.38,No,36.43,37.81,online,27,online_cc,0,10.81,0
7,dick0390,2019-07-09,1482734683,10:52,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,2019-07-16,07/12/19,,0,0.75,No,14.78,16.68,online,10.5,online_cc,0,5.03,0
8,jessicaholder4,2019-07-20,1487089393,16:19,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-24,,07/21/19,,0,0.28,No,0.72,1,online,1,online_cc,0,0,0
9,,2019-07-26,1480128610,11:33,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-01,07/27/19,,0,2.43,No,70.1,72.53,online,59,online_cc,5.53,8,0
10,Fudge69,2019-07-27,1480472568,10:57,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-16,08/16/19,,0,20.94,No,668.86,689.8,online,519.8,online_cc,0,170,0
11,brittanyb0710,2019-08-07,1484941268,13:42,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-14,08/12/19,nan,0.0,0.66,No,12.87,13.53,online,12.5,online_cc,1.03,0.0,0.0
12,HeatherW290,2019-08-05,1493211993,11:03,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-26,08/19/19,nan,0.0,7.14,No,222.45,229.59,online,149.97,online_cc,0.0,79.62,0.0
13,cjoy123,2019-08-10,1486172004,14:33,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-30,08/19/19,nan,0.0,5.82,No,179.74,185.56,online,119.98,online_cc,0.0,65.58,0.0
14,ivesterh89,2019-08-01,1482480540,nan,nan,NaN,nan,08/05/19,nan,0.0,1.54,No,38.23,42.95,online,33.0,online_cc,0.0,6.77,0.0
15,laaia22,2019-07-29,1481079872,nan,nan,NaN,nan,07/30/19,nan,0.0,0.63,No,11.87,12.5,online,12.5,online_cc,0.0,0.0,0.0
16,glyndasue5,2019-07-28,1481051598,nan,nan,NaN,nan,07/30/19,nan,0.0,0.63,No,11.87,12.5,online,12.5,online_cc,0.0,0.0,0.0
17,Brasun92,2019-08-18,1489256300,02:03,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-19,08/19/19,nan,0.0,1.35,No,35.35,36.7,online,25.0,online_cc,0.0,11.7,0.0
18,Brasun92,2019-08-18,1498480151,02:00,https://www.etsy.com/your/orders/sold?ref=sell...,NaN,2019-08-19,08/19/19,nan,0.0,1.35,No,35.35,36.7,online,25.0,online_cc,0.0,11.7,0.0

In [37]:
# Call firebase database    
fb_file = "shipping_addresses.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    shipping_addresses = pd.DataFrame.from_dict(data, orient='columns')

shipping_addresses=shipping_addresses.astype({'orderID': 'int'})
shipping_addresses=shipping_addresses.drop(columns=['buyerID'])
shipping_addresses

,city,country,orderID,state,street1,street2,zipCode
0,San Antonio,United States,1484941268,TX,7403 Dove Mountain St,nan,78209-3122
1,Saline,United States,1493211993,MI,1413 Maplewood Dr,nan,48176-8750
2,Homewood,United States,1482480540,AL,1507 Valley Pl,nan,35209
3,Chelmsford,United States,1481079872,MA,11 Braeburn Rd,nan,01824
4,ALEXANDRIA,United States,1481051598,LA,78A VERSAILLES BLVD,nan,71303
5,Elgin,United States,1480472568,IL,43W023 Ickenham Lane,nan,60124
6,Frisco,United States,1480128610,TX,12341 Flamingo Ct,nan,75033
7,COLUMBUS,United States,1479218984,OH,597 Athens st.,nan,43204
8,Dallas,United States,1487089393,TX,3985 Crown Shore Dr,nan,75244
9,Stewartville,United States,1482734683,MN,806 Miller Lane SE,nan,55976
10,Lodi,United States,1471997258,CA,505 Massarosa Lane,nan,95240
11,Amarillo,United States,1471406642,TX,6903 Kingsbury Drive,nan,79109
12,Norton,United States,1467289834,MA,78 Bay Rd,nan,02766
13,Bethpage,United States,1465581068,NY,3 Boone Street,nan,11714
14,Midland,United States,1461258703,VA,2287 Beaver Dam Rd,nan,22728
15,CHICAGO,United States,1441612324,IL,6146 N Avondale Ave,nan,60631
16,Lodi,United States,1486172004,CA,505 Massarosa Lane,nan,95240
17,LEMOORE,United States,1489256300,CA,506 Greenbriar Ct,nan,93245
18,LEMOORE,United States,1498480151,CA,506 Greenbriar Ct,nan,93245

In [38]:
order_info=pd.merge(order_info,shipping_addresses,on='orderID',how='outer')

In [39]:
order_info.columns

Index(['buyerID', 'orderDate', 'orderID', 'orderTime', 'orderURL',
       'record_date', 'shipByDate', 'dateShipped', 'couponCode',
       'discountAmount', 'fees', 'giftCard', 'orderNet', 'orderTotal',
       'orderType', 'orderValue', 'paymentType', 'salesTax', 'shipping',
       'shippingDiscount', 'city', 'country', 'state', 'street1', 'street2',
       'zipCode'],
      dtype='object')

In [40]:
order_info=order_info[['orderDate', 'orderID', 'orderTime', 'orderURL',
       'shipByDate', 'dateShipped', 'couponCode',
       'discountAmount', 'fees', 'giftCard', 'orderNet', 'orderTotal',
       'orderType', 'orderValue', 'paymentType', 'salesTax', 'shipping',
       'shippingDiscount', 'buyerID', 'city', 'country', 'state', 'zipCode']]
order_info

,orderDate,orderID,orderTime,orderURL,shipByDate,dateShipped,couponCode,discountAmount,fees,giftCard,...,orderValue,paymentType,salesTax,shipping,shippingDiscount,buyerID,city,country,state,zipCode
0,2019-04-19,1441612324,12:04,https://www.etsy.com/your/orders/sold?ref=sell...,,04/28/19,,0,3.52,No,...,81.99,online_cc,0,26.98,0,zvq52mlo,CHICAGO,United States,IL,60631
1,2019-05-15,1461258703,6:36,https://www.etsy.com/your/orders/sold?ref=sell...,,05/28/19,,0,4.04,No,...,87,online_cc,0,39.36,0,sshelburne12,Midland,United States,VA,22728
2,2019-06-17,1465581068,10:00,https://www.etsy.com/your/orders/sold?ref=sell...,,06/20/19,,0,0.65,No,...,7,online_cc,0,5.36,0,marissaspacey,Bethpage,United States,NY,11714
3,2019-06-21,1467289834,18:01,https://www.etsy.com/your/orders/sold?ref=sell...,,07/05/19,,0,5.22,No,...,99.98,online_cc,0,65.58,0,lmcq741,Norton,United States,MA,02766
4,2019-07-02,1471406642,22:36,https://www.etsy.com/your/orders/sold?ref=sell...,,07/05/19,,0,0.77,No,...,10.5,online_cc,1.33,5.63,0,admoorhead,Amarillo,United States,TX,79109
5,2019-07-04,1471997258,16:03,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-25,07/12/19,,0,5.2,No,...,99.98,online_cc,0,64.98,0,cjoy123,Lodi,United States,CA,95240
6,2019-07-23,1479218984,21:31,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-30,07/29/19,,0,1.38,No,...,27,online_cc,0,10.81,0,gauklerin09,COLUMBUS,United States,OH,43204
7,2019-07-09,1482734683,10:52,https://www.etsy.com/your/orders/sold?ref=sell...,2019-07-16,07/12/19,,0,0.75,No,...,10.5,online_cc,0,5.03,0,dick0390,Stewartville,United States,MN,55976
8,2019-07-20,1487089393,16:19,https://www.etsy.com/your/orders/sold?ref=sell...,,07/21/19,,0,0.28,No,...,1,online_cc,0,0,0,jessicaholder4,Dallas,United States,TX,75244
9,2019-07-26,1480128610,11:33,https://www.etsy.com/your/orders/sold?ref=sell...,2019-08-01,07/27/19,,0,2.43,No,...,59,online_cc,5.53,8,0,,Frisco,United States,TX,75033
10,2019-07-27,1480472568,10:57,https://www.etsy.com/your/orders/sold?ref=sell...,2019-08-16,08/16/19,,0,20.94,No,...,519.8,online_cc,0,170,0,Fudge69,Elgin,United States,IL,60124
11,2019-08-07,1484941268,13:42,https://www.etsy.com/your/orders/sold?ref=sell...,2019-08-14,08/12/19,nan,0.0,0.66,No,...,12.5,online_cc,1.03,0.0,0.0,brittanyb0710,San Antonio,United States,TX,78209-3122
12,2019-08-05,1493211993,11:03,https://www.etsy.com/your/orders/sold?ref=sell...,2019-08-26,08/19/19,nan,0.0,7.14,No,...,149.97,online_cc,0.0,79.62,0.0,HeatherW290,Saline,United States,MI,48176-8750
13,2019-08-10,1486172004,14:33,https://www.etsy.com/your/orders/sold?ref=sell...,2019-08-30,08/19/19,nan,0.0,5.82,No,...,119.98,online_cc,0.0,65.58,0.0,cjoy123,Lodi,United States,CA,95240
14,2019-08-01,1482480540,nan,nan,nan,08/05/19,nan,0.0,1.54,No,...,33.0,online_cc,0.0,6.77,0.0,ivesterh89,Homewood,United States,AL,35209
15,2019-07-29,1481079872,nan,nan,nan,07/30/19,nan,0.0,0.63,No,...,12.5,online_cc,0.0,0.0,0.0,laaia22,Chelmsford,United States,MA,01824
16,2019-07-28,1481051598,nan,nan,nan,07/30/19,nan,0.0,0.63,No,...,12.5,online_cc,0.0,0.0,0.0,glyndasue5,ALEXANDRIA,United States,LA,71303
17,2019-08-18,1489256300,02:03,https://www.etsy.com/your/orders/sold?ref=sell...,2019-08-19,08/19/19,nan,0.0,1.35,No,...,25.0,online_cc,0.0,11.7,0.0,Brasun92,LEMOORE,United States,CA,93245
18,2019-08-18,1498480151,02:00,https://www.etsy.com/your/orders/sold?ref=sell...,2019-08-19,08/19/19,nan,0.0,1.35,No,...,25.0,online_cc,0.0,11.7,0.0,Brasun92,LEMOORE,United States,CA,93245

In [41]:
gc = pygsheets.authorize(service_file=google_api_file_path)
sh = gc.open('J Etch Creations Dashboard')
wks = sh.worksheet('title','Orders')
wks.clear()
wks.set_dataframe(order_info,(1,1))

In [42]:
# Call firebase database    
fb_file = "order_items.json"
r = requests.get(config.databaseURL + fb_file)
r = r.json()

# If database is not empty create df
if r:
    data = [r[i] for i in r]
    order_items = pd.DataFrame.from_dict(data, orient='columns')

order_items=order_items.astype({'orderID': 'int'})
order_items

,listingID,orderID,quantity,record_date,transactionID,variations
0,701341356,1484941268,1,2019-08-08,1678762421,"Number of Letters/Flags:1-3,Personalization:ON..."
1,685451744,1493211993,3,2019-08-08,1677483805,Personalization:Bridal shower centerpiece
2,701210678,1482480540,1,2019-08-08,1670930686,nan
3,701341356,1482480540,1,2019-08-08,1670930684,"Number of Letters/Flags:1-3,Personalization:1...."
4,701341356,1481079872,1,2019-08-08,1673301839,"Number of Letters/Flags:1-3,Personalization:On..."
5,701341356,1481051598,1,2019-08-08,1673259081,"Number of Letters/Flags:1-3,Personalization:“O..."
6,680064082,1480472568,20,2019-08-08,1672422669,"Photo Frame Color:Gold,Votives &amp; Candles:N..."
7,722901675,1480128610,1,2019-08-08,1671919371,nan
8,701339360,1479218984,1,2019-08-08,1670605725,"Banner Text:Happy [#] Birthday,Banner Size:Opt..."
9,722850075,1487089393,1,2019-08-08,1668845593,nan
10,701341356,1482734683,1,2019-08-08,1662758423,"Number of Letters/Flags:1-3,Personalization:ONE"
11,687898920,1471997258,2,2019-08-08,1660352881,Personalization:Wedding -Sept 7th
12,701341356,1471406642,1,2019-08-08,1655782068,"Number of Letters/Flags:1-3,Personalization:ON..."
13,687898920,1467289834,2,2019-08-08,1653796177,"Personalization:rehearsal dinner on August 9, ..."
14,702303569,1465581068,1,2019-08-08,1651441691,"Stain Color:Dark,Size:8&quot; x 4&quot;,Person..."
15,687898920,1461258703,2,2019-08-08,1629862796,nan
16,686163596,1441612324,1,2019-08-08,1618371745,nan
17,687898920,1486172004,2,2019-08-10,1680497523,"Personalization:Wedding - September 7,2019"
18,706002567,1489256300,1,2019-08-18,1684840287,nan
19,706002567,1498480151,1,2019-08-18,1680230686,nan

In [43]:
search_terms = pd.read_csv('/Users/jessicaetchechury/Desktop/JEtchCreationsDashboard/Data/search_terms.txt', sep=",", header=None)

In [44]:
new_header = search_terms.iloc[0] #grab the first row for the header
search_terms = search_terms[1:] #take the data less the header row
search_terms.columns = new_header #set the header row as the df header

In [45]:
search_terms=search_terms.applymap(lambda x: x.replace("'", ''))
search_terms=search_terms.groupby(['searchTerms']).count()
search_terms=search_terms.reset_index()
search_terms=search_terms[['searchTerms','count']]


search_terms

0                            searchTerms  count
0           baby shower box centerpieces      1
1              bridal flower hoop wreath      1
2             bridal shower centerpieces      2
3   bridal shower centerpieces for table      2
4    cat in the hat birthday cake topper      3
5                            centerpiece      1
6              centerpiece bridal shower      1
7       centerpiece for engagement party      1
8               centerpieces for wedding      9
9                      chair sign wreath      1
10            coral floral hanging wreth      1
11                              dr seuss      1
12                     dr seuss birthday      5
13                 dr seuss birthday hat      1
14          dr seuss birthday high chair      3
15               dr seuss first birthday      2
16                   dr seuss high chair      1
17                   dr seuss party hats      1
18                     dr suess birthday      1
19                  dr suess cake topper      1
20                    dr. seuss birthday      1
21             dr. seuss birthday banner      1
22                 dr. seuss cake topper      1
23              dr. seuss party supplies      1
24                 dr. suess cake topper      1
25                dr. suess for birthday      3
26               engagement centerpieces      1
27         engagement party centerpieces      3
28               first birthday dr seuss      1
29                 geometric centerpiece      1
30                           hoop wreath      2
31                         jetchcreation      1
32                   lantern centerpiece      1
33           lantern centerpiece wedding      4
34                        lantern set of      1
35                 lanterns centerpieces      3
36     mr and mrs sign for back of chair      1
37         rehearsal dinner centerpieces      2
38                   wedding centerpiece      7
39                  wedding centerpieces      4
40                          wifey tshirt      1
41                          wood lantern      1
42              wood lantern centerpiece      2
43                         wood lanterns      1

In [46]:
gc = pygsheets.authorize(service_file=google_api_file_path)
sh = gc.open('J Etch Creations Dashboard')
wks = sh.worksheet('title','Search_Terms')
wks.clear()
wks.set_dataframe(search_terms,(1,1))

In [47]:
import numpy as np
from scipy.stats import beta

#Get data from database
listingStatsDB  = "listing_stats.json"
r = requests.get(config.databaseURL + listingStatsDB)
r = r.json()
# style_in_html = ""
# data_in_html = ""
if r:
    data = [r[i] for i in r]
    listing_stats_df = pd.DataFrame.from_dict(data, orient='columns')

listing_stats_df = listing_stats_df.astype({"listingID": int,"revenue":float,"sold":int,"visits":int})

    
listing_stats_df.sample(20)

      listingID record_date  revenue  sold  visits
61    701344590      7/7/19      0.0     0       4
3029  707973152  2019-08-19      0.0     0       0
2469  703387331     7/22/19      0.0     0       0
672   680085112     6/16/19      0.0     0       0
2697  702303569  2019-08-07      0.0     0       0
752   704569159     6/12/19      0.0     0       0
1886  680084324     4/14/19      0.0     0       0
2548  701339360     7/24/19      0.0     0       1
1321  680069172     5/18/19      0.0     0       0
2175  680071910     7/12/19      0.0     0       1
2102  680084324     3/27/19      0.0     0       0
836   680071910      6/9/19      0.0     0       2
2484  680085112     7/22/19      0.0     0       0
1251  680079806     5/21/19      0.0     0       0
1762  680073964     4/24/19      0.0     0       4
1430  680069172     5/13/19      0.0     0       0
656   680069172     6/17/19      0.0     0       1
331   690717354     6/28/19      0.0     0       0
2609  680082346  2019-07-26      0.0     0       0
738   688465922     6/13/19      0.0     0       2

In [48]:
#Get data from database
listingCreationDB  = "listing_creation_dates.json"
r = requests.get(config.databaseURL + listingCreationDB)
r = r.json()
# style_in_html = ""
# data_in_html = ""
if r:
    data = [r[i] for i in r]
    listing_creation_df = pd.DataFrame.from_dict(data, orient='columns')

listing_creation_df = listing_creation_df.astype({"ListingID": int})

listing_creation_df.head()

   ListingID OriginallyCreated
0  680077296        2019-03-26
1  680079806        2019-03-26
2  680082346        2019-03-26
3  680084324        2019-03-26
4  680085112        2019-03-27

In [49]:
listing_creation_df=listing_creation_df.drop_duplicates()

In [50]:
listing_creation_df['OriginallyCreated'] = pd.to_datetime(listing_creation_df['OriginallyCreated'])

In [51]:
#Get data from database
activeListingsDB  = "active_listings.json"
r = requests.get(config.databaseURL + activeListingsDB)
r = r.json()
# style_in_html = ""
# data_in_html = ""
if r:
    data = [r[i] for i in r]
    active_listings_df = pd.DataFrame.from_dict(data, orient='columns')

active_listings_df = active_listings_df.astype({"listingID": int})

active_listings_df.head()

   listingID
0  687898920
1  701341356
2  685451744
3  680071910
4  680079806

In [52]:
from datetime import datetime, date, time, timedelta


listingIDs=active_listings_df['listingID']
from pytz import timezone

now = datetime.now()
now = timezone('US/Central').localize(now)


listingIDsAll=[]
creationDateAll=[]
listingViewsAll=[]
totalSiteViewsAll=[]
avg_views_day=[]
max_views_day=[]
min_views_day=[]
editURLs=[]
daysActive=[]

for listing in listingIDs:
    #sort listing stats by listing
    listingIDsAll.append(listing)
    
    editURL=(f'https://www.etsy.com/your/shops/jetchcreations/tools/listings/view:table,stats:true/{listing}')
    editURLs.append(editURL)
    
    stats_by_listing=listing_stats_df.loc[listing_stats_df['listingID']==listing,:]
    
    #find the sum of views for the listing
    listingViews = stats_by_listing['visits'].sum()
    listingViewsAll.append(listingViews)
    
    #find the creation date for listing
    creation_date_by_listings=listing_creation_df.loc[listing_creation_df['ListingID']==listing,:]
    creation_date_by_listings=creation_date_by_listings.reset_index(drop=True)
    creationDate=creation_date_by_listings['OriginallyCreated'][0]
    creationDate = timezone('US/Central').localize(creationDate)
    creationDate =creationDate + timedelta(hours=5)
    creationDateAll.append(creationDate)
    
    noDaysSinceCreation= now - creationDate

    noDaysSinceCreation = noDaysSinceCreation/ np.timedelta64(1, 'D')

    daysActive.append(noDaysSinceCreation)
    
    #find total site views since the listing was created
    for index, item in listing_stats_df.iterrows():
        try:
            record_date = datetime.strptime(item.record_date, "%m/%d/%y")
            record_date = timezone('US/Central').localize(record_date)

            record_date =record_date + timedelta(hours=5)

            listing_stats_df.loc[index,'record_date_local']=record_date
        except:
            record_date = datetime.strptime(item.record_date, "%Y-%m-%d")
            record_date = timezone('US/Central').localize(record_date)

            record_date =record_date + timedelta(hours=5)

            listing_stats_df.loc[index,'record_date_local']=record_date
    
    total_views_since_creation=listing_stats_df.loc[listing_stats_df['record_date_local']>=creationDate]
    
    #find the sum of views for the listing
    total_views_since_creation = total_views_since_creation.astype({"visits": int})

    totalSiteViews = total_views_since_creation['visits'].sum()
    totalSiteViewsAll.append(totalSiteViews)
    
    averageViewsPerListingPerDay = 0.85
    averageViewsPerDay = 28.5
    
    averageViewsPerListingPerDay/averageViewsPerDay
    
    priorScale = 7 #one week
    priorAlpha = averageViewsPerListingPerDay * priorScale #average views per listing per day (success)
    priorBeta = (averageViewsPerDay * priorScale) - priorAlpha #average total views per day minus average listing views (failures)

    scale = 1 #scale to make graph pretty

    posteriorAlpha = priorAlpha + listingViews
    posteriorBeta = priorBeta + (totalSiteViews - listingViews)
    
    
    ntrials = 10000
    sample = beta.rvs(posteriorAlpha, posteriorBeta, scale=scale, size=ntrials)
    
    avg_views_day1=(np.mean(sample)/scale) * averageViewsPerDay
    avg_views_day.append(avg_views_day1)
    min_views_day1=(np.quantile(sample, .025)/ scale) * averageViewsPerDay
    min_views_day.append(min_views_day1)
    max_views_day1=(np.quantile(sample, .975)/ scale) * averageViewsPerDay
    max_views_day.append(max_views_day1)
    
bayes_df=pd.DataFrame({'listingID':listingIDsAll,
'creationDate':creationDateAll,
'listingViews':listingViewsAll,
'totalSiteViews':totalSiteViewsAll,
'avg_views_day':avg_views_day,
'max_views_day':max_views_day,
'min_views_day':min_views_day,
'edit_url':editURLs,
'days_active':daysActive})

bayes_df["curr_views_day"] = (bayes_df.listingViews / bayes_df.totalSiteViews) * 28.5
bayes_df

,listingID,creationDate,listingViews,totalSiteViews,avg_views_day,max_views_day,min_views_day,edit_url,days_active,curr_views_day
0,687898920,2019-04-26 05:00:00-05:00,499,3110,4.349669,4.712598,4.008472,https://www.etsy.com/your/shops/jetchcreations...,117.338287,4.572830
1,701341356,2019-06-18 05:00:00-05:00,83,1445,1.538598,1.861038,1.246636,https://www.etsy.com/your/shops/jetchcreations...,64.338287,1.637024
2,685451744,2019-04-16 05:00:00-05:00,136,3340,1.141634,1.334607,0.961235,https://www.etsy.com/your/shops/jetchcreations...,127.338287,1.160479
3,680071910,2019-03-26 05:00:00-05:00,180,3739,1.344950,1.536709,1.162156,https://www.etsy.com/your/shops/jetchcreations...,148.338287,1.372025
4,680079806,2019-03-26 05:00:00-05:00,203,3739,1.512897,1.716909,1.317486,https://www.etsy.com/your/shops/jetchcreations...,148.338287,1.547339
5,712179258,2019-08-02 05:00:00-05:00,1,286,0.405765,0.738438,0.163734,https://www.etsy.com/your/shops/jetchcreations...,19.338287,0.099650
6,712150418,2019-08-02 05:00:00-05:00,1,286,0.409647,0.755545,0.168578,https://www.etsy.com/your/shops/jetchcreations...,19.338287,0.099650
7,693930997,2019-03-26 05:00:00-05:00,417,3739,3.060015,3.343226,2.789411,https://www.etsy.com/your/shops/jetchcreations...,148.338287,3.178524
8,701210678,2019-06-18 05:00:00-05:00,15,1445,0.362953,0.531674,0.221668,https://www.etsy.com/your/shops/jetchcreations...,64.338287,0.295848
9,680064082,2019-03-26 05:00:00-05:00,1140,3739,8.288945,8.695779,7.894284,https://www.etsy.com/your/shops/jetchcreations...,148.338287,8.689489
10,701339360,2019-06-18 05:00:00-05:00,99,1445,1.817647,2.172043,1.498366,https://www.etsy.com/your/shops/jetchcreations...,64.338287,1.952595
11,721881161,2019-07-16 05:00:00-05:00,2,540,0.305728,0.547889,0.130761,https://www.etsy.com/your/shops/jetchcreations...,36.338287,0.105556
12,721879701,2019-07-16 05:00:00-05:00,2,540,0.307661,0.554812,0.132877,https://www.etsy.com/your/shops/jetchcreations...,36.338287,0.105556
13,721874971,2019-07-16 05:00:00-05:00,3,540,0.346067,0.606621,0.157942,https://www.etsy.com/your/shops/jetchcreations...,36.338287,0.158333
14,707973152,2019-07-16 05:00:00-05:00,13,540,0.731427,1.083856,0.439479,https://www.etsy.com/your/shops/jetchcreations...,36.338287,0.686111
15,701344590,2019-06-18 05:00:00-05:00,35,1445,0.709425,0.937503,0.516585,https://www.etsy.com/your/shops/jetchcreations...,64.338287,0.690311
16,701202082,2019-06-18 05:00:00-05:00,57,1445,1.091971,1.365183,0.845147,https://www.etsy.com/your/shops/jetchcreations...,64.338287,1.124221
17,702303569,2019-04-28 05:00:00-05:00,41,3101,0.405656,0.529850,0.298884,https://www.etsy.com/your/shops/jetchcreations...,115.338287,0.376814
18,685744834,2019-04-17 05:00:00-05:00,2,3304,0.064992,0.117957,0.028914,https://www.etsy.com/your/shops/jetchcreations...,126.338287,0.017252
19,700382982,2019-06-14 05:00:00-05:00,43,1581,0.785722,1.019358,0.581935,https://www.etsy.com/your/shops/jetchcreations...,68.338287,0.775142
20,700377146,2019-06-14 05:00:00-05:00,19,1581,0.400669,0.568951,0.259009,https://www.etsy.com/your/shops/jetchcreations...,68.338287,0.342505
21,691796412,2019-05-11 05:00:00-05:00,26,2629,0.323004,0.442932,0.220436,https://www.etsy.com/your/shops/jetchcreations...,102.338287,0.281856
22,704569159,2019-05-07 05:00:00-05:00,24,2768,0.288063,0.402998,0.195004,https://www.etsy.com/your/shops/jetchcreations...,106.338287,0.247110
23,690717354,2019-05-07 05:00:00-05:00,10,2768,0.153205,0.236319,0.088299,https://www.etsy.com/your/shops/jetchcreations...,106.338287,0.102962
24,703387331,2019-05-02 05:00:00-05:00,25,2952,0.279240,0.383365,0.190687,https://www.etsy.com/your/shops/jetchcreations...,111.338287,0.241362
25,688465922,2019-04-28 05:00:00-05:00,87,3101,0.802401,0.971539,0.647620,https://www.etsy.com/your/shops/jetchcreations...,115.338287,0.799581
26,688443618,2019-04-28 05:00:00-05:00,44,3101,0.431964,0.559053,0.319781,https://www.etsy.com/your/shops/jetchcreations...,115.338287,0.404386

In [53]:
bayes_df=pd.merge(bayes_df,listing_titles,on='listingID',how='inner')

In [54]:
gc = pygsheets.authorize(service_file=google_api_file_path)
sh = gc.open('J Etch Creations Dashboard')
wks = sh.worksheet('title','Bayes')
wks.clear()
wks.set_dataframe(bayes_df,(1,1))

In [55]:
listing

688443618

In [56]:
gc = pygsheets.authorize(service_file=google_api_file_path)
sh = gc.open('J Etch Creations Dashboard')
wks = sh.worksheet('title','Bayes')
wks.clear()
wks.set_dataframe(bayes_df,(1,1))